#titre {
  color: #e6e6e6;
  font-family: "Rubik", sans-serif;
  font-size: 64px;
}

#text_bio {
  color: #e6e6e6;
  font-family: "Poppins", sans-serif;
  width: 50%;
  margin-top: 5vh;
  text-align: justify;
}

#textBio_CV {
  display: flex;
  flex-wrap: wrap;
}
