#titre,
#consulter_cv,
.waviy span {
  font-family: "Rubik", sans-serif;
}

#text_bio {
  font-family: "Poppins", sans-serif;
}

#titre {
  color: #e6e6e6;
  font-size: 64px;
}

#text_bio {
  color: #e6e6e6;
  width: 50%;
  margin-top: 10vh;
  text-align: justify;
  opacity: 0.9;
}

#lien_projets_text_bio {
  color: var(--jaune);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#lien_projets_text_bio:hover {
  text-decoration: underline;
}

.sep {
  border: 0;
  width: 10em;
  height: 3px;
  margin: 1em 0;
  margin-top: -2%;
  background-color: var(--jaune);
}

#div_cv {
  margin-top: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#consulter_cv {
  text-decoration: none;
  color: var(--noir);
  background-color: var(--blanc);
  font-size: 32px;
  font-weight: bold;
  padding: 1.5% 2%;
  border-radius: 1vw;
}

#telecharger_cv {
  background-color: var(--blanc);
  width: fit-content;
  height: 100%;
  margin-left: 2vw;
  padding: 0.5% 1%;
  border-radius: 1vw;
}
