.etiquettes_projets_languages h3 {
  font-family: "Poppins", sans-serif;
}

#div_titre_boutonFermer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

sep {
  width: 15em;
}

sep {
  margin-top: 0;
}

.etiquettes_projets_languages {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.etiquettes_projets_languages h3 {
  background-color: var(--jaune);
  padding: 1% 2% 1% 2%;
  margin: 2% 2% 0 0;
  border-radius: 1vw;
  font-weight: normal;
}

/* carrousel */

carousel {
  width: 80%;
  margin-top: 10%;
  text-align: center;
  font-family: Trebuchet MS;
  display: block;
  font-size: 6vmin;
}
carousel page {
  background-color: var(--blanc);
  border-radius: 1vw;
  margin-top: 45%;
  position: absolute;
  padding: 2%;
  top: 2em;
  left: 6vw;
  width: 70%;
  transition: transform 0.5s;
  transform: scale(0);
}
carousel page div {
  margin-bottom: 3%;
}
carousel page label {
  cursor: pointer;
  background: var(--jaune);
  padding: 1em 2em;
}
carousel #page1cb:checked ~ #page1 {
  transform: scale(1);
}
carousel #page2cb:checked ~ #page2 {
  transform: scale(1);
}
carousel #page3cb:checked ~ #page3 {
  transform: scale(1);
}
carousel #page4cb:checked ~ #page4 {
  transform: scale(1);
}
carousel #page5cb:checked ~ #page5 {
  transform: scale(1);
}

carousel img {
  width: 100%;
  border-radius: 1vw;
}

/* Input radio */
carousel label {
  display: inline-block;
  float: left;
  cursor: pointer;
  background-color: var(--blanc);
  padding: 1em 2em;
  font-size: 16px;
  font-weight: bold;
  border-radius: 1vw;
  color: black;
  margin-right: 1%;
}

carousel input[type="radio"] {
  display: none; /* Masque les boutons radio réels */
}

carousel input[type="radio"]:checked + label {
  background-color: var(--jaune);
  color: var(--noir);
}

/* Bouton fermer */
.btn-close {
  margin: 0;
  border: 0;
  padding: 0;
  background: var(--jaune);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
}
.btn-close .icon-cross {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 40px;
  height: 40px;
}
.btn-close .icon-cross:before,
.btn-close .icon-cross:after {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  height: 6px;
  background: var(--noir);
  border-radius: 6px;
}
.btn-close .icon-cross:before {
  transform: rotate(45deg);
}
.btn-close .icon-cross:after {
  transform: rotate(-45deg);
}
.btn-close .icon-cross span {
  display: block;
}
.btn-close:hover,
.btn-close:focus {
  transform: rotateZ(90deg);
  background: var(--jaune);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  carousel page {
    margin-top: 100vh;
  }
}

@media screen and (max-width: 1024px) {
  carousel page {
    margin-top: 80vh;
  }
}

@media screen and (max-width: 728px) {
  #div_titre_boutonFermer {
    flex-direction: column-reverse;
    align-items: start;
  }

  carousel page {
    margin-top: 130vh;
  }
}
